In [1]:
name = "chinyere"
name

'chinyere'


## List

.A lst is an ordered sequence of items
.It is a very flexible data type in python.There is no need for the value in list to be of the same data type. 
.The list is the highly used data type in python.List data type is the most exclusive datatype in python contaning varsatile data. It can easily hold different types of data in python.

In [2]:
!jt -r

Reset css and font defaults in:
C:\Users\dell\.jupyter\custom &
C:\Users\dell\AppData\Roaming\jupyter\nbextensions

## list

In [4]:
! pip install jupyterthemes

Requirement already satisfied: jupyterthemes in c:\users\dell\anaconda3\lib\site-packages (0.20.0)
Requirement already satisfied: notebook>=5.6.0 in c:\users\dell\anaconda3\lib\site-packages (from jupyterthemes) (6.3.0)
Requirement already satisfied: matplotlib>=1.4.3 in c:\users\dell\anaconda3\lib\site-packages (from jupyterthemes) (3.3.4)
Requirement already satisfied: lesscpy>=0.11.2 in c:\users\dell\anaconda3\lib\site-packages (from jupyterthemes) (0.13.0)
Requirement already satisfied: ipython>=5.4.1 in c:\users\dell\anaconda3\lib\site-packages (from jupyterthemes) (7.22.0)
Requirement already satisfied: jupyter-core in c:\users\dell\anaconda3\lib\site-packages (from jupyterthemes) (4.7.1)
Requirement already satisfied: pygments in c:\users\dell\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (2.8.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (3.0.17)
Requirement already satisfied: decorator in c:\users\dell\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (5.0.6)
Requirement already satisfied: pickleshare in c:\users\dell\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.7.5)
Requirement already satisfied: colorama in c:\users\dell\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.4.4)
Requirement already satisfied: jedi>=0.16 in c:\users\dell\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.17.2)
Requirement already satisfied: backcall in c:\users\dell\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (0.2.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\dell\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (5.0.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\dell\anaconda3\lib\site-packages (from ipython>=5.4.1->jupyterthemes) (52.0.0.post20210125)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\dell\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.4.1->jupyterthemes) (0.7.0)
Requirement already satisfied: ply in c:\users\dell\anaconda3\lib\site-packages (from lesscpy>=0.11.2->jupyterthemes) (3.11)
Requirement already satisfied: six in c:\users\dell\anaconda3\lib\site-packages (from lesscpy>=0.11.2->jupyterthemes) (1.15.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.3.1)
Requirement already satisfied: numpy>=1.15 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (1.20.1)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (8.2.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=1.4.3->jupyterthemes) (2.8.1)
Requirement already satisfied: nbconvert in c:\users\dell\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.0.7)
Requirement already satisfied: ipython-genutils in c:\users\dell\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.2.0)
Requirement already satisfied: Send2Trash>=1.5.0 in c:\users\dell\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (1.5.0)
Requirement already satisfied: jupyter-client>=5.3.4 in c:\users\dell\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.1.12)
Requirement already satisfied: nbformat in c:\users\dell\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (5.1.3)
Requirement already satisfied: prometheus-client in c:\users\dell\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.10.1)
Requirement already satisfied: argon2-cffi in c:\users\dell\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (20.1.0)
Requirement already satisfied: tornado>=6.1 in c:\users\dell\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (6.1)
Requirement already satisfied: jinja2 in c:\users\dell\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (2.11.3)
Requirement already satisfied: pyzmq>=17 in c:\users\dell\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (20.0.0)
Requirement already satisfied: terminado>=0.8.3 in c:\users\dell\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (0.9.4)
Requirement already satisfied: ipykernel in c:\users\dell\anaconda3\lib\site-packages (from notebook>=5.6.0->jupyterthemes) (5.3.4)
Requirement already satisfied: pywin32>=1.0 in c:\users\dell\anaconda3\lib\site-packages (from jupyter-core->jupyterthemes) (227)
Requirement already satisfied: wcwidth in c:\users\dell\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.4.1->jupyterthemes) (0.2.5)
Requirement already satisfied: pywinpty>=0.5 in c:\users\dell\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=5.6.0->jupyterthemes) (0.5.7)
Requirement already satisfied: cffi>=1.0.0 in c:\users\dell\anaconda3\lib\site-packages (from argon2-cffi->notebook>=5.6.0->jupyterthemes) (1.14.5)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=5.6.0->jupyterthemes) (2.20)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\dell\anaconda3\lib\site-packages (from jinja2->notebook>=5.6.0->jupyterthemes) (1.1.1)
Requirement already satisfied: testpath in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.4.4)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.8.4)
Requirement already satisfied: defusedxml in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.7.1)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.5.3)
Requirement already satisfied: jupyterlab-pygments in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.1.2)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (1.4.3)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (0.3)
Requirement already satisfied: bleach in c:\users\dell\anaconda3\lib\site-packages (from nbconvert->notebook>=5.6.0->jupyterthemes) (3.3.0)
Requirement already satisfied: async-generator in c:\users\dell\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=5.6.0->jupyterthemes) (1.10)
Requirement already satisfied: nest-asyncio in c:\users\dell\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=5.6.0->jupyterthemes) (1.5.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\dell\anaconda3\lib\site-packages (from nbformat->notebook>=5.6.0->jupyterthemes) (3.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\dell\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=5.6.0->jupyterthemes) (0.17.3)
Requirement already satisfied: attrs>=17.4.0 in c:\users\dell\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=5.6.0->jupyterthemes) (20.3.0)
Requirement already satisfied: webencodings in c:\users\dell\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=5.6.0->jupyterthemes) (0.5.1)
Requirement already satisfied: packaging in c:\users\dell\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=5.6.0->jupyterthemes) (20.9)

In [5]:
! jt -h

usage: jt [-h] [-l] [-t THEME] [-f MONOFONT] [-fs MONOSIZE] [-nf NBFONT]
          [-nfs NBFONTSIZE] [-tf TCFONT] [-tfs TCFONTSIZE] [-dfs DFFONTSIZE]
          [-ofs OUTFONTSIZE] [-mathfs MATHFONTSIZE] [-m MARGINS]
          [-cursw CURSORWIDTH] [-cursc CURSORCOLOR] [-cellw CELLWIDTH]
          [-lineh LINEHEIGHT] [-altp] [-altmd] [-altout] [-P] [-T] [-N] [-kl]
          [-vim] [-r] [-dfonts]

optional arguments:
  -h, --help            show this help message and exit
  -l, --list            list available themes
  -t THEME, --theme THEME
                        theme name to install
  -f MONOFONT, --monofont MONOFONT
                        monospace code font
  -fs MONOSIZE, --monosize MONOSIZE
                        code font-size
  -nf NBFONT, --nbfont NBFONT
                        notebook font
  -nfs NBFONTSIZE, --nbfontsize NBFONTSIZE
                        notebook fontsize
  -tf TCFONT, --tcfont TCFONT
                        txtcell font
  -tfs TCFONTSIZE, --tcfontsize TCFONTSIZE
                        txtcell fontsize
  -dfs DFFONTSIZE, --dffontsize DFFONTSIZE
                        pandas dataframe fontsize
  -ofs OUTFONTSIZE, --outfontsize OUTFONTSIZE
                        output area fontsize
  -mathfs MATHFONTSIZE, --mathfontsize MATHFONTSIZE
                        mathjax fontsize (in %)
  -m MARGINS, --margins MARGINS
                        fix margins of main intro page
  -cursw CURSORWIDTH, --cursorwidth CURSORWIDTH
                        set cursorwidth (px)
  -cursc CURSORCOLOR, --cursorcolor CURSORCOLOR
                        cursor color (r, b, g, p)
  -cellw CELLWIDTH, --cellwidth CELLWIDTH
                        set cell width (px or %)
  -lineh LINEHEIGHT, --lineheight LINEHEIGHT
                        code/text line-height (%)
  -altp, --altprompt    alt input prompt style
  -altmd, --altmarkdown
                        alt markdown cell style
  -altout, --altoutput  set output bg color to notebook bg
  -P, --hideprompt      hide cell input prompt
  -T, --toolbar         make toolbar visible
  -N, --nbname          nb name/logo visible
  -kl, --kernellogo     kernel logo visible
  -vim, --vimext        toggle styles for vim
  -r, --reset           reset to default theme
  -dfonts, --defaultfonts
                        force fonts to browser default

In [6]:
! jt -l

Available Themes:
   chesterish
   grade3
   gruvboxd
   gruvboxl
   monokai
   oceans16
   onedork
   solarizedd
   solarizedl

In [8]:
! jt -t gruvboxd

In [9]:
! jt -t solarizedd -T

In [10]:
! jt -l

Available Themes:
   chesterish
   grade3
   gruvboxd
   gruvboxl
   monokai
   oceans16
   onedork
   solarizedd
   solarizedl

In [11]:
! jt -t monokai -T -N

## List

.A lst is an ordered sequence of items
.It is a very flexible data type in python.There is no need for the value in list to be of the same data type. 
.The list is the highly used data type in python.List data type is the most exclusive datatype in python contaning varsatile data. It can easily hold different types of data in python.

In [12]:
name =['chinyere','chinazam','amaka','Efe','lagos']
name

['chinyere', 'chinazam', 'amaka', 'Efe', 'lagos']

In [13]:
type(name)

list

In [14]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [15]:
name

['chinyere', 'chinazam', 'amaka', 'Efe', 'lagos']

In [16]:
name[0::]

['chinyere', 'chinazam', 'amaka', 'Efe', 'lagos']

In [17]:
name[:2]

['chinyere', 'chinazam']

In [18]:
name[-4]

'chinazam'

In [20]:
mylist =['Nigeria',17,True]
mylist

['Nigeria', 17, True]

In [22]:
age =[16.30,56,91]
age

[16.3, 56, 91]

In [23]:
name.append('Gift')

In [24]:
name

['chinyere', 'chinazam', 'amaka', 'Efe', 'lagos', 'Gift']

In [25]:
age.append(54)

In [26]:
age

[16.3, 56, 91, 54]

In [27]:
name.append('gift')

In [28]:
name

['chinyere', 'chinazam', 'amaka', 'Efe', 'lagos', 'Gift', 'gift']

In [29]:
name.copy()

['chinyere', 'chinazam', 'amaka', 'Efe', 'lagos', 'Gift', 'gift']

In [31]:
name1 = name.copy()
name1

['chinyere', 'chinazam', 'amaka', 'Efe', 'lagos', 'Gift', 'gift']

name1.clear()

In [32]:
name1

['chinyere', 'chinazam', 'amaka', 'Efe', 'lagos', 'Gift', 'gift']

In [34]:
name1.clear()

name1

In [35]:
name

['chinyere', 'chinazam', 'amaka', 'Efe', 'lagos', 'Gift', 'gift']

In [36]:
name.count('Gift')

1

In [39]:
name.extend(['ike','john'])
name

['chinyere',
 'chinazam',
 'amaka',
 'Efe',
 'lagos',
 'Gift',
 'gift',
 'ike',
 'john']

In [41]:
name.extend(['king','queen'])

In [42]:
name

['chinyere',
 'chinazam',
 'amaka',
 'Efe',
 'lagos',
 'Gift',
 'gift',
 'ike',
 'john',
 'king',
 'queen']

In [43]:
name.index('chinyere')

0

In [44]:
name.index('king')

9

In [45]:
name.insert(3,'ejike')
name

['chinyere',
 'chinazam',
 'amaka',
 'ejike',
 'Efe',
 'lagos',
 'Gift',
 'gift',
 'ike',
 'john',
 'king',
 'queen']

In [46]:
name.pop()
name

['chinyere',
 'chinazam',
 'amaka',
 'ejike',
 'Efe',
 'lagos',
 'Gift',
 'gift',
 'ike',
 'john',
 'king']

In [47]:
name.reverse()

In [48]:
name

['king',
 'john',
 'ike',
 'gift',
 'Gift',
 'lagos',
 'Efe',
 'ejike',
 'amaka',
 'chinazam',
 'chinyere']

In [49]:
name.sort()

name

In [50]:
name

['Efe',
 'Gift',
 'amaka',
 'chinazam',
 'chinyere',
 'ejike',
 'gift',
 'ike',
 'john',
 'king',
 'lagos']

In [51]:
name.sort()

In [52]:
name

['Efe',
 'Gift',
 'amaka',
 'chinazam',
 'chinyere',
 'ejike',
 'gift',
 'ike',
 'john',
 'king',
 'lagos']

## Dictionaries
Dictonary is a type of python data type in which collections are unordered,and values are in pairs called the key-value pairs.
This type of data type is useful when there is high volume of data, Braces {} (curly brackets are used to define dictionaries data type in python. A pair in the dictionary data type is an item which is represented as key value. The value and the key can be of any data type.

In [55]:
mydict = {'key1':'value1','key2':'value2','key3':'value3'}
mydict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [ ]:
#json
#java script object notation

In [56]:
animal = {'dog':'bingo','cat':'busyy','goat':'white','monkey':'stone'}
animal

{'dog': 'bingo', 'cat': 'busyy', 'goat': 'white', 'monkey': 'stone'}

In [60]:
animal['dog']

'bingo'

In [71]:
type(animal)

dict

In [86]:
customer = {'name':'chinyere','address':'40 ikeja lagos','type':'online','age':'20','height':'tall'}
customer

{'name': 'chinyere',
 'address': '40 ikeja lagos',
 'type': 'online',
 'age': '20',
 'height': 'tall'}

In [73]:
type(customer)

dict

In [84]:
animal['cat']

'busyy'

In [87]:
customer['name']

'chinyere'

In [88]:
customer['age']

'20'

In [93]:
materials ={'cars':['Toyota','camry','Benz'],'colours':['yellow','black','white'],'years':['2002','2014','2016']}
materials

{'cars': ['Toyota', 'camry', 'Benz'],
 'colours': ['yellow', 'black', 'white'],
 'years': ['2002', '2014', '2016']}

In [96]:
materials['cars']

['Toyota', 'camry', 'Benz']

In [97]:
materials['colours']

['yellow', 'black', 'white']

In [101]:
materials['colours'][2]

'white'

In [102]:
materials['cars'][1]

'camry'

In [273]:
len(materials)

3

In [103]:
mydict1 ={}
mydict1

{}

In [106]:
mydict1['name'] ='James'
mydict1['location']= 'Lagos'
mydict1['Dress'] = 'white'

In [107]:
mydict1

{'name': 'James', 'location': 'Lagos', 'Dress': 'white'}

In [110]:
mydict1['cloth'] ='Gown'

In [111]:
mydict1

{'name': 'James', 'location': 'Lagos', 'Dress': 'white', 'cloth': 'Gown'}

In [115]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [117]:
mydict4 ={'Fruit':'mango','drink':'fanta','food':'beans'}
mydict4

{'Fruit': 'mango', 'drink': 'fanta', 'food': 'beans'}

In [118]:
mydict5 ={'party':'labour'}
mydict5

{'party': 'labour'}

In [123]:
mydict4.update(mydict5)

In [124]:
mydict4

{'Fruit': 'mango', 'drink': 'fanta', 'food': 'beans', 'party': 'labour'}

In [130]:
#student score
scores = {}
first_test = int(input('what is your score in the first test?: '))
second_test = int(input('what is your score in the second test?: '))
attd = int(input('what is your score in the atendance?: '))
exam = int(input('what is your score in the exam?: '))

total_score = first_test + second_test + attd + exam


scores['FirstTest'] = first_test
scores['SecondTest'] = second_test
scores['Attendance'] = attd
scores['Examination'] = exam

print(scores)
print(f'The student\'s final result is {total_score}')

what is your score in the first test?: 8
what is your score in the second test?: 9
what is your score in the atendance?: 6
what is your score in the exam?: 56
{'FirstTest': 8, 'SecondTest': 9, 'Attendance': 6, 'Examination': 56}
The student's final result is 79

In [133]:
scores.keys()

dict_keys(['FirstTest', 'SecondTest', 'Attendance', 'Examination'])

In [134]:
scores.values()

dict_values([8, 9, 6, 56])

In [135]:
scores.items()

dict_items([('FirstTest', 8), ('SecondTest', 9), ('Attendance', 6), ('Examination', 56)])

## Tuple
A tuple is a sequence of items that are in order, and it is not possibld to modify the tuples.
#### The main difference between tuple and list is that tuple are immutable, which means that it cannot be altered.
- Tuples are generally faster than the list datatype in a python because it cannot be changed or modified like list datatype.
- The primary use of Tuples is to write-protect data.
- Tuples can be represented by using parentheses(), and
- commas are used to seperate the items.
Days of the week, Months of the year,DOB,etc

In [136]:
name

['Efe',
 'Gift',
 'amaka',
 'chinazam',
 'chinyere',
 'ejike',
 'gift',
 'ike',
 'john',
 'king',
 'lagos']

In [138]:
name[1] = 'Amanda'

In [139]:
name

['Efe',
 'Amanda',
 'amaka',
 'chinazam',
 'chinyere',
 'ejike',
 'gift',
 'ike',
 'john',
 'king',
 'lagos']

In [151]:
mytuple = (1,2,3,4,5)
mytuple

(1, 2, 3, 4, 5)

In [152]:
type(mytuple)

tuple

In [153]:
mytuple[3]

4

In [154]:
mytuple[3] = 10

TypeError: 'tuple' object does not support item assignment

In [155]:
mylist = [1,2,3,4,5,6]
mylist

[1, 2, 3, 4, 5, 6]

In [157]:
mylist[5] = 10

In [158]:
mylist

[1, 2, 3, 4, 5, 10]

In [159]:
len(mylist)

6

In [160]:
len(mydict)

3

In [161]:
len(mytuple)

5

## Set
A set is a collection of unique items that are not inorder is called set
Braces {} are used to defined set and a comma is used to separte values.
 One will find that the items are unodered in a set data type
 - Duplicates are eliminated in a set and set only keep unique values.
 - Operations like intersection and union can be perfomrmed on two sets.

In [162]:
myset = {1,1,1,1,16,3,3,6,3,7,8,9,10,22,4,5,55,}
myset

{1, 3, 4, 5, 6, 7, 8, 9, 10, 16, 22, 55}

In [163]:
myset.add(11)

In [164]:
myset

{1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 16, 22, 55}

In [167]:
newset1 ={1,3,5,7,9}
newset2 = {2,4,6,8,10}
print(newset1)
print(newset2)

{1, 3, 5, 7, 9}
{2, 4, 6, 8, 10}

In [169]:
# intersection returns element that are common to both set
myset.intersection(newset1)

{1, 3, 5, 7, 9}

In [171]:
myset.intersection(newset2)

{4, 6, 8, 10}

In [172]:
# union return all elements in each individual set
myset.union(newset1)

{1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 16, 22, 55}

In [173]:
myset.difference(newset1)

{4, 6, 8, 10, 11, 16, 22, 55}

In [174]:
myset6 = {1,2,3,4,6}
myset7 = {33,13,25,7,6,1}
print(myset6)
print(myset7)

{1, 2, 3, 4, 6}
{33, 1, 6, 7, 13, 25}

In [176]:
myset6.difference_update(myset7)

In [177]:
myset6

{2, 3, 4}

In [178]:
myset7.difference_update(myset6)

In [180]:
myset7

{1, 6, 7, 13, 25, 33}

## Booleans
There can be only two types of value in Boolean datatype of Python, that is True or False

In [181]:
# equal to
1==1

True

In [182]:
# variabel assignment
1 =1

SyntaxError: cannot assign to literal (<ipython-input-182-61326171a949>, line 2)

In [183]:
1 ==2

False

In [184]:
# less than or equal to

1 <= 2

True

In [185]:
type(1==2)

bool

In [186]:
10 >= 20

False

In [199]:
name = 'chinyere'

if name == 'chinyere':
    print(f'Your name is {name}')
else:
    print(f'Your name is not what we expect')

Your name is chinyere

In [200]:
name = 'Tope'
if name == 'chinyere':
    print(f'You are a member of this class {name}')
else:
    print(f' You are not a member of this class')

 You are not a member of this class

In [201]:
name = 'chinyere'

if name == 'chinazam':
    print(f'Your name is {name}')
else:
    print(f'Your name is not what we expect')

Your name is not what we expect

In [202]:
name = 'chinyere'

if name != 'chinazam':
    print(f'Your name is {name}')
else:
    print(f'Your name is not what we expect')

Your name is chinyere

## Comparsion Operators
Copmarsion operatrs are used to comapre two values.
- == Equal to
- != Not equal to.
- #> Greater than
- #>= Greater than or equal to.
- < Less than
- <== Less than or equal to

## Conditional Statements
Conditional statements use conditions to modify how your functions runs.

They check the value of a condition, and if the condition evaluates to true, then a certain block of code is executed.( Otherwise if the condition is false then the code will not run)

### If, Elif, Else statement
The python If statement is the same as it is with other programming languages. It executes a set of statement conditionally, based on the value of a logical expression.

In python if....else statement, If has two blocks, one following the expression ans the other following the else clause.

The If-Elif-Else statement,is used to conditionally execute a statement or a block of statements.

Conditions can be True or False, execute one thing when the condition id true, something else when the condition is False

In [206]:
name = 'chinyere'
if name == 'Chinazam':
    print(f'You are welcome to our house{name}')
else:
    print(f'You are not welcome to our house {name}')

You are not welcome to our house chinyere

In [215]:
name  =  input('what is your name?')

if name == 'Gift':
    print(f'You are a member of this class{name}')
else:
    print(f'You are not a member of this class {name}')

what is your name?chinyere
You are not a member of this class chinyere

In [217]:
name  =  input('what is your name?')

if name == 'Gift':
    print(f'You are a member of this class {name}')
else:
    print(f'You are not a member of this class {name}')

what is your name?Gift
You are a member of this class Gift

In [218]:
name = input('what is your name ?')
if name  == 'chinyere':
    print(f'You are welcome to our kingdom{name}')
elif name == ' Damilola':
    print(f'You are welcome to our palace{name}')
elif name == 'Igwe':
    print(f'welcome to our village {name}')
elif name == 'Eniola':
    print(f'You are welcome to our department{name}')
elif name == 'Debo':
    print(f'welcome to our faculty {name}')
else:
    print('we seem not to recognise you {name}')

what is your name ?Debo
welcome to our faculty Debo

In [219]:
name = input('what is your name ?')
if name  == 'chinyere':
    print(f'You are welcome to our kingdom{name}')
elif name == ' Damilola':
    print(f'You are welcome to our palace{name}')
elif name == 'Igwe':
    print(f'welcome to our village {name}')
elif name == 'Eniola':
    print(f'You are welcome to our department{name}')
elif name == 'Debo':
    print(f'welcome to our faculty {name}')
else:
    print('we seem not to recognise you {name}')

what is your name ?gift
we seem not to recognise you {name}

In [220]:
name = input('what is your name ?')
if name  == 'chinyere':
    print(f'You are welcome to our kingdom{name}')
elif name == ' Damilola':
    print(f'You are welcome to our palace{name}')
elif name == 'Igwe':
    print(f'welcome to our village {name}')
elif name == 'Eniola':
    print(f'You are welcome to our department{name}')
elif name == 'Debo':
    print(f'welcome to our faculty {name}')
else:
    print(f'we seem not to recognise you {name}')

what is your name ?gift
we seem not to recognise you gift

In [222]:
name = input('what is your name ?')
if name  == 'chinyere':
    print(f'You are welcome to our kingdom{name}')
elif name == ' Damilola':
    print(f'You are welcome to our palace{name}')
elif name == 'Igwe':
    print(f'welcome to our village {name}')
elif name == 'Eniola':
    print(f'You are welcome to our department {name}')
elif name == 'Debo':
    print(f'welcome to our faculty {name}')
else:
    print('we seem not to recognise you {name}')

what is your name ?Eniola
You are welcome to our department Eniola

In [223]:
# Return a grade based on student's final score.

# stud_name =>  name of the student
# first_test => score in the first test
# second_test => score in the second test
# attd => score in the attendance
# exam => score in the examination
# total_score => student final score based on summation of the above scores.
# assign a letter grade based on the student final score

stud_name = input('what is your name ?>>>>>>>')
first_test = int(input('what is your score in the first test ?>>>>>>'))
first_second = int(input('what is your score in the second test ?>>>>>>'))
attd = int(input('what is your score in the attendance ?>>>>>>'))
exam = int(input('what is your score in the examination ?>>>>>>'))

print('...................................................................')
total_score = first_test + second_test + attd + exam

if total_score  >= 70:
    grade = 'A' 
elif total_score >= 60:
    grade = 'B'
elif total_score >= 50:
    grade = 'C'
elif total_score >= 40:
    grade = 'D'
else: 
    grade = 'F'

print(f'Hello {stud_name}, your total score is {total_score} and your grade is {grade}')

what is your name ?>>>>>>>chinyere
what is your score in the first test ?>>>>>>5
what is your score in the second test ?>>>>>>7
what is your score in the attendance ?>>>>>>15
what is your score in the examination ?>>>>>>45
...................................................................
Hello chinyere, your total score is 74 and your grade is A

## Supermarket example
- Customer type = Coperate or Retail
- amount = total value of the purchased goods
- coperate
- discount
- amount <= 10000 = 20%
- amount <= 40000 = 25%
- amount <= 100000 = 30%
- amount > 100000 = 40%

- Retail
- discount
- amount <= 10000 = 10%
- amount <= 40000 = 15%
- amount <= 100000 = 20%
- amount > 100000 = 30%
- print amount 
- print discount
- amount_due = amount - discount

In [229]:
cust_type = input('what type of customer are you?:  ')
amt = float(input('what is the amount you spent?:  '))

if cust_type == 'coperate' or cust_type == 'Retail':
    if cust_type == 'coperate':
        if amt <= 10000:
            discount = 0.2
        elif amt <= 40000:
            discount = 0.25
        elif amt <= 100000:
            discount = 0.3
        else:
            discount = 0.4
    elif cust_type == 'Retail':
        if amt <= 10000:
            discount = 0.1
        if amt <= 40000:
            discount = 0.15
        if amt <= 100000:
            discount = 0.2
        else:
            discount = 0.3
        
    amt_due = amt - (amt * discount)
    print('.................................................................')
    print(f'Your total spending is {amt}')
    print(f'Based on your customer type, you are a {cust_type} customer')
    print(f'Based on your selection, discount is {discount}')
    print(f'Your total amount due is {amt_due}')


else:
    print('Sorry, that customer type does not exist')

what type of customer are you?:  coperate
what is the amount you spent?:  25000
.................................................................
Your total spending is 25000.0
Based on your customer type, you are a coperate customer
Based on your selection, discount is 0.25
Your total amount due is 18750.0

In [230]:
cust_type = input('what type of customer are you?:  ')
amt = float(input('what is the amount you spent?:  '))

if cust_type == 'coperate' or cust_type == 'Retail':
    if cust_type == 'coperate':
        if amt <= 10000:
            discount = 0.2
        elif amt <= 40000:
            discount = 0.25
        elif amt <= 100000:
            discount = 0.3
        else:
            discount = 0.4
    elif cust_type == 'Retail':
        if amt <= 10000:
            discount = 0.1
        if amt <= 40000:
            discount = 0.15
        if amt <= 100000:
            discount = 0.2
        else:
            discount = 0.3
        
    amt_due = amt - (amt * discount)
    print('.................................................................')
    print(f'Your total spending is {amt}')
    print(f'Based on your customer type, you are a {cust_type} customer')
    print(f'Based on your selection, discount is {discount}')
    print(f'Your total amount due is {amt_due}')


else:
    print('Sorry, that customer type does not exist')

what type of customer are you?:  Retail
what is the amount you spent?:  30000
.................................................................
Your total spending is 30000.0
Based on your customer type, you are a Retail customer
Based on your selection, discount is 0.2
Your total amount due is 24000.0

In [231]:
cust_type = input('what type of customer are you?:  ')
amt = float(input('what is the amount you spent?:  '))

if cust_type == 'coperate' or cust_type == 'Retail':
    if cust_type == 'coperate':
        if amt <= 10000:
            discount = 0.2
        elif amt <= 40000:
            discount = 0.25
        elif amt <= 100000:
            discount = 0.3
        else:
            discount = 0.4
    elif cust_type == 'Retail':
        if amt <= 10000:
            discount = 0.1
        if amt <= 40000:
            discount = 0.15
        if amt <= 100000:
            discount = 0.2
        else:
            discount = 0.3
        
    amt_due = amt - (amt * discount)
    print('.................................................................')
    print(f'Your total spending is {amt}')
    print(f'Based on your customer type, you are a {cust_type} customer')
    print(f'Based on your selection, discount is {discount}')
    print(f'Your total amount due is {amt_due}')


else:
    print('Sorry, that customer type does not exist')

what type of customer are you?:  chinyere
what is the amount you spent?:  70000
Sorry, that customer type does not exist

## For Loop
A for loop is used for iterating over a sequence ( that is either a list, a tuple, a dictionary, a set or a string)


This is less like the for keyword in other programming languages, and works more like iterator method as found in other object-oriented programming languages


With for loop we can execute a set of statement, once for each item in a list , tuple , set etc

In [234]:
mylist1 = [1,2,3,4,5,6,7,8,9]
mylist1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [235]:
for i in mylist1:
    print(i)

1
2
3
4
5
6
7
8
9

In [236]:
for num in range(20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [237]:
for i in range(3,17,2):
    print(i)

3
5
7
9
11
13
15

In [239]:
mylist2 = [1,2,3,4,5,6,7,8,9,10]
mylist2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [240]:
# returns an even numbers
for i in mylist2:
    if i % 2 == 0:
     print(f'{i} is an even number')

2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number

In [246]:
# print the sum of the numbers progresively
mylist3 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
sum_list = 0
for i in mylist3:
    sum_list = sum_list + i
    print(sum_list)
# sum_list = 0
# sum_list = 0+1
# current sum_list = 1

# next step is 
# current sum_list = 1
# sum_list = 1 + 2 ( 2 is next number from mylist3)
# current sum_list = 3

# next step is
# current sum_list = 3
# sum_list = 3 +3 (3 is the next number from mylist3)
# current sum_list = 6

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120

In [247]:
# print only the total sum by removing the indetation at the print function
mylist3 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
sum_list = 0
for i in mylist3:
    sum_list = sum_list + i
print(sum_list)
# sum_list = 0
# sum_list = 0+1
# current sum_list = 1

# next step is 
# current sum_list = 1
# sum_list = 1 + 2 ( 2 is next number from mylist3)
# current sum_list = 3

# next step is
# current sum_list = 3
# sum_list = 3 +3 (3 is the next number from mylist3)
# current sum_list = 6

120

In [4]:
# calculator program
# 5 tests
num_test = [1,2,3,4,5,6]
total_score = 0

for j in num_test:
    print(total_score)
    score = int(input('what is your total score?'))
    total_score += score
    
print('..............................................')
print(f'Your total score is {total_score}')

0
what is your total score?9
9
what is your total score?3
12
what is your total score?6
18
what is your total score?8
26
what is your total score?21
47
what is your total score?8
..............................................
Your total score is 55

In [3]:
mylist4 = [1,2,3,4,5,6,7,8,9,10]
total_score = 0

for k in mylist4:
    print(total_score)
    score = int(input('What is your score?'))
    total_score += score
    
print('.....................................')
print(f'Your total score is {total_score}')

0
What is your score?4
4
What is your score?5
9
What is your score?2
11
What is your score?8
19
What is your score?9
28
What is your score?4
32
What is your score?6
38
What is your score?4
42
What is your score?6
48
What is your score?8
.....................................
Your total score is 56

In [5]:
mylist6 = [1,2,3,4,5]
total_score = 0

for i in mylist6:
    print(total_score)
    score = int(input('what is your score?'))
    total_score += score
    
    
print('.......................................')
print(f'Your total score is {total_score}')

0
what is your score?45
45
what is your score?1
46
what is your score?3
49
what is your score?4
53
what is your score?12
.......................................
Your total score is 65

In [6]:
mylist8 = [1,3,2,4]
mylist8

[1, 3, 2, 4]

## While Loop 
The while loop in python is used to iterate over a block of code as long as the test expression (condition) is true

We generally use this loop when we dont know the number of times to iterate beforehand

In [10]:
name = input('what is your name?: ')

while name == 'chinyere':
    print('welcome to the class')
    name = input('what is your name?')

what is your name?: chinyere
welcome to the class
what is your name?chinyere
welcome to the class
what is your name?chinasa

In [14]:
x = 0
while x < 10:
    print(f'{x} is currently less than 10')
    x +=1

0 is currently less than 10
1 is currently less than 10
2 is currently less than 10
3 is currently less than 10
4 is currently less than 10
5 is currently less than 10
6 is currently less than 10
7 is currently less than 10
8 is currently less than 10
9 is currently less than 10

In [24]:
answer = 'yes'

while answer == 'yes':
    name = input('what is your name?: ')
    question = input('what class did you enrol for?:')
    print('.......................................')
    print(f'Hello {name}')
    print(f'The class you enrol for is {question} and wil commence soon')
    answer = input('Do you want to continue: yes/no')
    
print('Goodbye')

what is your name?: chinyere
what class did you enrol for?:hdhd
.......................................
Hello chinyere
The class you enrol for is hdhd and wil commence soon
Do you want to continue: yes/nono
Goodbye

In [3]:
answer = 'yes'
while answer == 'yes':
    name = input('what is your name?: ')
    question = input('what class did you enrol for?:  ')
    print(f'Hello {name}')
    print(f'The class that you ernrolled for is {question} and will commence soon')
    answer = input('Do you want to continue: yes/no  ')
    
print('Goodbye')

what is your name?: chinyere
what class did you enrol for?:  gsb
Hello chinyere
The class that you ernrolled for is gsb and will commence soon
Do you want to continue: yes/no  no
Goodbye

In [7]:
name = raw_input("Welcome soldier. What is your name? ")
print('Ok,', name, ' we need your help.')
print("Do you want to help us? (Yes/No) ")
ans = raw_input().lower()

while True:
    ans = raw_input().lower()("This is one of those times when only Yes/No will do!" "\n"  "So what will it be? Yes? No?")

    ans = raw_input().lower()
    if ans() == 'yes' or 'no':
        break
    if ans == "yes":
        print ("Good!")
    elif ans == "no":
        print("I guess I was wrong about you..." '\n' "Game over.")

SyntaxError: invalid syntax (<ipython-input-7-2a7a9fb6691f>, line 2)

In [10]:
answer = 'yes'

name = input('Welcome soldier. what is your name?:  ')
question  = input(f'ok {name} we need your help,what is the work of the soldiers?: ')
print('.........................................')
while answer == 'yes':
    print(f'if that the work of the soldeier is to {question} then we need you at Borno stat')
    #print('we need you at Borno state:')
    answer = input('will you come: yes/no')
    
    #if ans == 'yes' or 'no':
        #break
    #if ans == "yes":
        #print ("Good!")
    #elif ans == "no":
        
        
print('I guess I was wrong about you..')

Welcome soldier. what is your name?:  chinyere
ok chinyere we need your help,what is the work of the soldiers?: protect the citizens
.........................................
if that the work of the soldeier is to protect the citizens then we need you at Borno stat
will you come: yes/noyes
if that the work of the soldeier is to protect the citizens then we need you at Borno stat
will you come: yes/noyes
if that the work of the soldeier is to protect the citizens then we need you at Borno stat
will you come: yes/nono
I guess I was wrong about you..

In [12]:
answer = 'yes'
name = input('welcome soldier, what is your name?:  ')
question = input(f'ok,{name} we need your help, what is the work of the soldiers?:  ')
print('''''''''''''''''''''''''''''''''''''''''''''''')
while answer == 'yes':
    print(f'if that the work of the soldiers is {question}, we need you at Borno state')
    answer = input('will you come to Borno state: yes/no')
    
    
print('I guess I was wrong at you')

welcome soldier, what is your name?:  chigozie
ok,chigozie we need your help, what is the work of the soldiers?:  protect the citizens

if that the work of the soldiers is protect the citizens, we need you at Borno state
will you come to Borno state: yes/noyes
if that the work of the soldiers is protect the citizens, we need you at Borno state
will you come to Borno state: yes/noyes
if that the work of the soldiers is protect the citizens, we need you at Borno state
will you come to Borno state: yes/nono
I guess I was wrong at you

In [2]:
answer = 'yes'
name = input('Hello young lady, what is your name?: ')
question = input(f'Oh, {name} you are beautiful, can you be my girlfriend?: ')
print('.........................................................')
while answer == 'yes':
    print(f'if that you can be my girlfriend {quesion}, i will come to your house')
    answer = (' will you allow me to come and visit you: yes/no')
    
    
print('see you soon')

Hello young lady, what is your name?: ch
Oh, ch you are beautiful, can you be my girlfriend?: Never can say
.........................................................

NameError: name 'quesion' is not defined

In [3]:
range(10)

range(0, 10)

In [4]:
for num in range(10):
    if num == 5:
        pass
    print(f'number is {num}')
    
print('Out of loop')

number is 0
number is 1
number is 2
number is 3
number is 4
number is 5
number is 6
number is 7
number is 8
number is 9
Out of loop

In [5]:
for i in range(15):
    if i == 5:
        pass
    print(f'numer is {i}')
    
print('out of loop')

numer is 0
numer is 1
numer is 2
numer is 3
numer is 4
numer is 5
numer is 6
numer is 7
numer is 8
numer is 9
numer is 10
numer is 11
numer is 12
numer is 13
numer is 14
out of loop

In [7]:
#break causes a loop to end

for j in range(10):
    if j == 5:
        break
    print(f'number is {j}')
    
print('out of loop')

number is 0
number is 1
number is 2
number is 3
number is 4
out of loop

In [9]:
# continue ignore that particular line and goes to the next line

for num in range(10):
    if num == 5:
        continue
    print(f'number is {num}')
    
print('out of loop')

number is 0
number is 1
number is 2
number is 3
number is 4
number is 6
number is 7
number is 8
number is 9
out of loop

In [12]:
for i in range (3,10):
    print(i)

3
4
5
6
7
8
9

In [13]:
for i in range(3,10,2):
    print(i)

3
5
7
9

## Function

In python, a function is a group of related statement that perform a specific task.

Functions helps break our programm into smaller and modular chunks. As our program grows larger, functions makes it more organised and manageable .

Furthermore, it aviods repetion and and makes the code reusable

In [ ]:
# def name of a function:
'''This is where you enter a description of what your function does'''
# do stuff here
# return result

In [15]:
def greeting():
    '''This function returns a greeting'''
    print('Hello World')

In [16]:
greeting()

Hello World

In [18]:
def greet():
    '''This function returns a greeting message to a user'''
    name = input('what is your name?: ')
    print(f'Hello {name},how are you doing today')

In [19]:
greet()

what is your name?: victor
Hello victor,how are you doing today

In [22]:
def greetin():
    '''This where the enters his or her information'''
    name = input('Hello beautiful lady what is your name?: ')
    print(f'oh,{name} you are welcome to our house')

In [24]:
greetin()

Hello beautiful lady what is your name?: chinyere
oh,chinyere you are welcome to our house

In [25]:
def addnumber(x,y):
    '''Add two numbers'''
    print(x +y)

In [26]:
addnumber(5,6)

11

In [35]:
def squarenum(x):
    '''square a number'''
    print(x**2)

In [37]:
squarenum(5)

25

In [54]:
def addition():
    num = 0
    for i in range(3):
        num1 = int(input('Enter a number>>>'))
        num += num1
    print('............')
    print(f'Your total number is {num}')

In [55]:
addition()

Enter a number>>>9
Enter a number>>>6
Enter a number>>>2
............
Your total number is 17

In [52]:
def addition():
    num = 2
    for i in range(3):
        num1 = int(input('Enter a number>>>'))
        num += num1
    print('............')
    print(f'Your total number is {num}')

In [53]:
addition()

Enter a number>>>9
Enter a number>>>8
Enter a number>>>9
............
Your total number is 28

In [56]:
def addin():
    num = 2
    for i in range(3):
        num1 = int(input('Enter a number>>>'))
        num += num1
    return(num)

In [57]:
addin()

Enter a number>>>9
Enter a number>>>8
Enter a number>>>3

22

In [8]:
# Return a grade based on student's final score.

# stud_name =>  name of the student
# first_test => score in the first test
# second_test => score in the second test
# attd => score in the attendance
# exam => score in the examination
# total_score => student final score based on summation of the above scores.
# assign a letter grade based on the student final score
def return_grade():
    
    stud_name = input('what is your name ?>>>>>>>')
    first_test = int(input('what is your score in the first test ?>>>>>>'))
    second_test = int(input('what is your score in the second test ?>>>>>>'))
    attd = int(input('what is your score in the attendance ?>>>>>>'))
    exam = int(input('what is your score in the examination ?>>>>>>'))

    print('...................................................................')
    total_score = first_test + second_test + attd + exam

    if total_score  >= 70:
        grade = 'A' 
    elif total_score >= 60:
        grade = 'B'
    elif total_score >= 50:
        grade = 'C'
    elif total_score >= 40:
        grade = 'D'
    else: 
        grade = 'F'

    print(f'Hello {stud_name}, your total score is {total_score} and your grade is {grade}')

In [9]:
return_grade()

what is your name ?>>>>>>>chinyere
what is your score in the first test ?>>>>>>6
what is your score in the second test ?>>>>>>8
what is your score in the attendance ?>>>>>>14
what is your score in the examination ?>>>>>>55
...................................................................
Hello chinyere, your total score is 83 and your grade is A

In [10]:
return_grade()

what is your name ?>>>>>>>koges
what is your score in the first test ?>>>>>>8
what is your score in the second test ?>>>>>>9
what is your score in the attendance ?>>>>>>10
what is your score in the examination ?>>>>>>54
...................................................................
Hello koges, your total score is 81 and your grade is A

In [16]:
    def return_grades(stud_name,f_test,s_test,attd,exam):
        
        
    
        total_score = f_test + s_test + attd + exam

        if total_score  >= 70:
            grade = 'A' 
        elif total_score >= 60:
            grade = 'B'
        elif total_score >= 50:
            grade = 'C'
        elif total_score >= 40:
            grade = 'D'
        else: 
            grade = 'F'

        print(f'Hello {stud_name}, your total score is {total_score} and your grade is {grade}')

In [17]:
return_grades('chinyere',10,8,9,55)

Hello chinyere, your total score is 82 and your grade is A

In [22]:
def convert():
    '''Return all lower case for a given number'''
    name = input('what is your name?: ')
    user = name.lower()
    return user

convert()

In [25]:
# default argumet
def say_hello(name,age =24):
              '''Return an output statement'''
              print(f'Your name is {name} and your age is {age}')

In [26]:
say_hello('chinyere')

Your name is chinyere and your age is 24

In [29]:
say_hello('chinyere',40)

Your name is chinyere and your age is 40

In [30]:
say_hello('Eseosa',12)

Your name is Eseosa and your age is 12

## Map Function

Mapping consists of applying a transformation function to an iterabel to produce a new iterable. Items in the new iterable are produced by calling the transformation function on each item in the original iterable